---
layout: default
title: 捐赠者
css_class: sponsors
---

<h1 class="text-centered page-title main-heading">现任赞助商</h1>
<h3 class="text-centered page-subtitle">
  本节列出了非常友好的公司和个人，
  他们每月贡献一定的资金来帮助维持Nim的发展。
  有关更多详细信息，请查看<a href="{{ site.baseurl }}/donate.html">捐赠</a>页面。

  <p><small>最后更新时间: {{ site.data.sponsors_meta["last_update"] }}</small></p>
</h3>

<section class="background-faded call-to-action">
  <section class="content text-centered">
    <h2>顶级赞助商</h2>
    <div class="pure-g center">

      <div class="pure-u-2-3">
        {% for sponsor in site.data.sponsors %}
          {% if sponsor.level == "250" %}
            <div class="sponsor-container">
              <a href="{{sponsor.url}}">
                <img src="{{ site.baseurl }}{{sponsor.logo}}"/>
                <span class="green tag">+${{sponsor.this_month}}/月</span>
                <br/>
                <p class="title">{{sponsor.name}}</p>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</section>

<div class="site-content slim content" style="margin-top: 50px;">
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="name">捐赠者</th>
        <th>本月</th>
        <th>总计</th>
        <th>最大贡献</th>
      </tr>
    </thead>
    <tbody>
    {% for sponsor in site.data.sponsors %}
      {% if sponsor.level != "250" %}
        <tr>
          {% if sponsor.logo %}
            <td><img src="{{sponsor.logo}}" alt="{{sponsor.name}}"></td>
          {% else %}
            <td></td>
          {% endif %}
          {% if sponsor.url%}
          <td class="name"><a href="{{sponsor.url}}">{{sponsor.name}}</a></td>
          {% else %}
          <td>{{sponsor.name}}</td>
          {%endif%}
          <td>${{sponsor.this_month}}</td>
          <td>${{sponsor.all_time}}</td>
          <td>{{sponsor.since}}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>

  <h1 class="text-centered page-title">过去的赞助商</h1>
  <h3 class="text-centered page-subtitle">
    本节列出了过去为Nim发展提供了经济贡献的公司和个人。
  </h3>
  <table>
    <thead>
      <tr>
        <th class="name">捐赠人</th>
        <th>合计</th>
        <th>最大贡献人</th>
      </tr>
    </thead>
    <tbody>
      {% for sponsor in site.data.inactive_sponsors %}
          <tr>
            <td>{{sponsor.name}}</td>
            <td>${{sponsor.all_time}}</td>
            <td>{{sponsor.since}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
